.title{
    font-size: 70px;
    font-family: Bahnschrift;
    color: #E8AA3E;
}

#create-account{
    color: #E8AA3E;
}

.button-submit{
    font-size: 22px;
    font-family: Segoe UI;
    border: 1px #707070;
    border-radius: 12%;
    background-color: #E8AA3E;
    color: #7445BC;
}
